@import '../config/colors.css';

.navbar {
  padding: 15px 50px;
  background-color: var(--black);
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.navLogo {
  width: 40px;
  height: 40px;
}

.navbarItems {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.navbarItem {
  text-decoration: none;
  font-size: 20px;
  color: var(--white);
}

.navbarItem:hover {
  color: var(--lightGrey);
}
