html {
    --primaryGreen: #0a2e36;
    --secondaryGreen: #036D19;
    --brightGreen: #27FB6B;
    --lightGreen: #bfffd3;
    --darkGreen: #5a7061;
    --subGreen: #14CC60;
    --green: #09A129;
    --darkGreyGreen: #283538;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #757575;
    --lightGrey: #acacac;
    --darkGrey: #424242;
}
